<div class="swiper-slide SwiperFrameBright">
    <script src='/writes_are_blocking?id=client.js'></script>
    <h3>Write Contention </h3>
    <table class='ContentTable'>
        <tr>
            <td>Writes are blocking reads and writes</td>
        </tr>
        <tr>
            <td>
                <table id='writes_block_demo'></table>
            </td>
        </tr>
    </table>
</div>